A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.Class:link {
	COLOR: #ffffff
}
A.Class:visited {
	COLOR: #ffffff
}
A.Class:hover {
	COLOR: #449ae8
}
A.Class:active {
	COLOR: #ffffff
}
BODY {
	SCROLLBAR-FACE-COLOR: #2b73f1; FONT-SIZE: 9pt; BACKGROUND: #ffffff; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #0650d2; SCROLLBAR-SHADOW-COLOR: #449ae8; SCROLLBAR-3DLIGHT-COLOR: #449ae8; LINE-HEIGHT: 150%; SCROLLBAR-ARROW-COLOR: #02338a; SCROLLBAR-TRACK-COLOR: #0650d2; FONT-FAMILY: "ו"; SCROLLBAR-DARKSHADOW-COLOR: #0650d2; TEXT-DECORATION: none
}
.body2 {
	SCROLLBAR-FACE-COLOR: #f6f6f6; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #330000; SCROLLBAR-TRACK-COLOR: #f6f6f6; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%; FONT-FAMILY: ו
}
INPUT {
	FONT-SIZE: 12px; HEIGHT: 20px
}
BUTTON {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
SELECT {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
.title {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff
}
.border {
	BORDER-RIGHT: #449ae8 1px solid; BORDER-TOP: #449ae8 1px solid; BORDER-LEFT: #449ae8 1px solid; BORDER-BOTTOM: #449ae8 1px solid
}
.tdbg {
	BACKGROUND: #f0f0f0; LINE-HEIGHT: 120%
}
.tdbg2 {
	BACKGROUND: #e0eef5; LINE-HEIGHT: 120%
}
.Glow {
	FILTER: Glow(Color=#0F42A6, Strength=1); WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 20px; Dropshadow: #0F42A6, OffX=1, OffY=1,)
}
.topbg {
	BACKGROUND: #0650d2; COLOR: #ffffff
}
.topbg2 {
	BACKGROUND: #449ae8
}
.bgcolor {
	BACKGROUND-COLOR: #e1f4ee
}
