#content {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px auto 20px;
	BORDER-LEFT: 0px;
	WIDTH: 776px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	POSITION: relative;
	TEXT-ALIGN: left
}

.buttonright_blue_white {
	BACKGROUND: url(/bmsh/images/blue_cap_right.gif) no-repeat right top;
	FLOAT: right;
	MARGIN: 10px 5px 5px 0px;
	CURSOR: pointer;
	HEIGHT: 18px;
	TEXT-ALIGN: center
}

.buttoncap_blue_white {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	BACKGROUND: url(/bmsh/images/blue_cap_left.gif) no-repeat left top;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 18px
}

.moduleborder {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px
}

.module_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_botl.gif) #e0dfdf
		no-repeat left bottom;
	PADDING-BOTTOM: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	POSITION: relative
}

.bottomedge_darkgray {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_botr.gif) no-repeat right
		bottom;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	POSITION: relative
}

.topright_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	RIGHT: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_topr.gif) no-repeat right
		top;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	LINE-HEIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 10px
}

.topleft_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_topl.gif) no-repeat left
		top;
	LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	LINE-HEIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 10px
}

.botright_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	RIGHT: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_botr.gif) no-repeat right
		top;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	BOTTOM: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	HEIGHT: 10px
}

.botleft_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url(/bmsh/images/ffffff_e0dfdf_botl.gif) no-repeat left
		top;
	LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	BOTTOM: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	HEIGHT: 10px
}

.module_inset_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url(/bmsh/images/e0dfdf_ffffff_botl.gif) #ffffff
		no-repeat left bottom;
	PADDING-BOTTOM: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	POSITION: relative
}

.background_inset_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	POSITION: relative;
	BACKGROUND-COLOR: #ffffff
}

.bottomedge_inset_darkgray {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url(/bmsh/images/e0dfdf_ffffff_botr.gif) no-repeat right
		bottom;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	POSITION: relative
}

.topright_inset_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	Z-INDEX: 100;
	RIGHT: 0px;
	BACKGROUND: url(/bmsh/images/e0dfdf_ffffff_topr.gif) no-repeat right
		top;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	LINE-HEIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 10px
}

.topleft_inset_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	Z-INDEX: 100;
	BACKGROUND: url(/bmsh/images/e0dfdf_ffffff_topl.gif) no-repeat left
		top;
	LEFT: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	LINE-HEIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 10px
}

.botright_inset_darkgray {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	RIGHT: 0px;
	BACKGROUND: url(/bmsh/images/e0dfdf_ffffff_botr.gif) no-repeat right
		top;
	PADDING-BOTTOM: 0px;
	WIDTH: 10px;
	BOTTOM: 0px;
	LINE-HEIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	HEIGHT: 10px
}

A {
	TEXT-DECORATION: none
}

A:link {
	COLOR: #3366cc;
	TEXT-DECORATION: none
}

A:visited {
	COLOR: #663399;
	TEXT-DECORATION: none
}

A:active {
	COLOR: #cccccc;
	TEXT-DECORATION: none
}

TD {
	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: Geneva, Verdana, Arial, Helvetica
}

CENTER {
	FONT-SIZE: 10px;
	COLOR: #333333;
	FONT-FAMILY: Geneva, Verdana, Arial, Helvetica
}

.body {
	FONT-SIZE: 10px;
	COLOR: #333333;
	FONT-FAMILY: Geneva, Verdana, Arial, Helvetica
}

.disclaimer {
	FONT-SIZE: 9px;
	COLOR: #999999;
	FONT-FAMILY: Geneva, Verdana, Arial, Helvetica
}

.form {
	FONT-SIZE: 12px
}

.content_gray {
	FONT-SIZE: 11px;
	COLOR: #666;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: "Lucida Grande", Arial, sans-serif
}

.content_gray_bold {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #666;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: Lucida Grande, Arial, sans-serif
}

.content_black_bold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #000;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: Lucida Grande, Arial, sans-serif
}

.buttontext {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 11px;
	FLOAT: left;
	COLOR: #ffffff;
	LINE-HEIGHT: 14px;
	PADDING-TOP: 2px;
	FONT-FAMILY: Lucida Grande, Arial, sans-serif;
	HEIGHT: 18px;
	TEXT-DECORATION: none
}