BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #d2e8f6
}
.txt1 {
	FONT-SIZE: 12px; COLOR: #485052; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.txttil {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.login_input {
	BORDER-RIGHT: #69b8df 1px solid; BORDER-TOP: #69b8df 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #69b8df 1px solid; WIDTH: 120px; COLOR: #000000; LINE-HEIGHT: 100%; BORDER-BOTTOM: #69b8df 1px solid; HEIGHT: 20px
}
.table1 {
	BORDER-RIGHT: #7db5d8 1px solid; BORDER-TOP: #7db5d8 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #7db5d8 1px solid; COLOR: #484d51; LINE-HEIGHT: 150%; BORDER-BOTTOM: #7db5d8 1px solid; TEXT-DECORATION: none
}
.input_long {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 240px; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 17px; TEXT-DECORATION: none
}
.input_mid {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 120px; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 17px; TEXT-DECORATION: none
}
.input_file_mid {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 185px; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 17px; TEXT-DECORATION: none
}
.input_small {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 30px; COLOR: #000000; LINE-HEIGHT: 130%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 17px; TEXT-DECORATION: none
}
.textarea1 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 320px; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 80px; TEXT-DECORATION: none
}
.textarea_small {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 150px; COLOR: #000000; LINE-HEIGHT: 130%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 38px; TEXT-DECORATION: none
}
A.txt1:link {
	FONT-SIZE: 12px; COLOR: #485052; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.txt1:hover {
	FONT-SIZE: 12px; COLOR: #006699; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.input_big {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; WIDTH: 80%; COLOR: #000000; LINE-HEIGHT: 150%; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 50px; TEXT-DECORATION: none
}
.button {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #595959; LINE-HEIGHT: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #deeaf6
}
.button_long {
	BORDER-RIGHT: #7db2da 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7db2da 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #7db2da 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #595959; LINE-HEIGHT: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #7db2da 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #deeaf6
}
.loginButton {
	BORDER-RIGHT: #7db5d8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7db5d8 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #7db5d8 1px solid; WIDTH: 60px; COLOR: #595959; LINE-HEIGHT: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #7db5d8 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #deeaf6
}
.bg1 {
	BACKGROUND-POSITION: right top; BACKGROUND-REPEAT: no-repeat; HEIGHT: 239px
}
.titleTd {
	MARGIN: 0px; CURSOR: hand
}
