<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean name="companyAction" class="com.lhq.prj.bms.action.CompanyAction" scope="prototype">
		<property name="companyService" ref="companyService" />
	</bean>
	<bean name="deptAction" class="com.lhq.prj.bms.action.DeptAction" scope="prototype">
		<property name="deptService" ref="deptService" />
	</bean>
	<bean name="dutyAction" class="com.lhq.prj.bms.action.DutyAction" scope="prototype">
		<property name="dutyService" ref="dutyService" />
	</bean>
	<bean name="userAction" class="com.lhq.prj.bms.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	<bean name="subjectAction" class="com.lhq.prj.bms.action.SubjectAction" scope="prototype">
		<property name="subjectService" ref="subjectService" />
	</bean>
	<bean name="categoryAction" class="com.lhq.prj.bms.action.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean name="bookAction" class="com.lhq.prj.bms.action.BookAction" scope="prototype">
		<property name="bookService" ref="bookService" />
	</bean>
	<bean name="loanLogAction" class="com.lhq.prj.bms.action.LoanLogAction" scope="prototype">
		<property name="loanLogService" ref="loanLogService" />
	</bean>
</beans>
