
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 13px;
}
select{
    color:#f00;
}

#box {
    width: 750px;
    margin-left: 100px;
}
#box h1{
    float: left;
    position: absolute;
    top: 200px;
    left: 200px;
    line-height: 55px;
}
#box h2 {
    width: 50%;
    line-height:50px;
    font-size: 26px;
    color: #679a3f;
    text-align: center;
    border: 4px solid #679a3f;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 50px;
}
.title {
    height: 30px;
}
.title li {
    float: left;
    border: #7b8560 solid 1px;
    border-bottom:none;
    border-radius: 4px 4px 0 0;
    margin-right:3px;
    box-shadow: 0px 0px 5px #ccc;
}
.title li a {
    display: block;
    padding: 0 12px;
    line-height: 30px;
    border-bottom: none;
    background-color: #679a3f;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
}
#content{
    width: 743px;
    height:500px;
    border:0px solid white;
    border-top: none;
    float: left;
    background-color: white;
}
.title li .current {
    background-color: white;
    color: #000;
}
#content > div {
    display: none;
}
#content #contact {
    display: block;
}
#contact_left{
    float: left;
    margin-left: 40px;
    border-right: 0px solid #679a3f;
    padding-right: 25px;
}
#contact h5{
    line-height: 60px;
    padding-top: 2px;
    color: red;
    font-size: 14px;
}
#dklx input{
    margin-right: 10px;
    margin-bottom: 25px;
}
.percent{
    color: red;
}
#way{
    padding-left: 30px;
}
#way dd{
    padding-left: 20px;
    display: none;
}
#way dd input{
    width: 100px;
    margin:0 5px;
}
#way label{
    line-height:25px;
}
#dkll .percent{
    margin: 0 5px 0 46px;
    width: 50px;
    padding: 0 5px;
}
#dkll{
    margin-top: 25px;
    line-height: 30px;
}
#method{
    line-height: 35px;
}
.start{
    width: 75px;
    line-height: 26px;
    background-color: #dc9c30;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 15px;
    color: #fff;
}
.again{
    width: 75px;
    line-height: 26px;
    background-color: #dc9c30;
    border-radius: 5px;
    margin-left: 18px;
    margin-top: 15px;
    color: #fff;
}
#contact_right{
    float: right;
    margin-right:60px;
}
#contact_right p{
    line-height: 35px;
}
#contact_right input{
    margin-bottom: 10px;
}
/*表格。。。。。。。。。。。。。。。。。。。*/
#list{
    width: 360px;
    line-height:30px;
    float: right;
    position: absolute;
    top: 50px;
    left: 900px;
}
#list h2{
    width: 50%;
    line-height:50px;
    font-size: 26px;
    color: #679a3f;
    text-align: center;
    border: 4px solid #679a3f;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 20px;
}
#list table{
    width: 100%;
    border-collapse: collapse;
}
#list table td{
    border:1px solid #000;
    padding: 0 10px;
}
#list tbody th{
    text-align: center;
    padding:0 10px ;
}
#list thead{
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #000;
    text-align: left;
    font-size: 18px;
    line-height: 50px;
}
