.input {
	BACKGROUND-POSITION: 50% top; COLOR: #000033; FONT-FAMILY: "ו"; FONT-SIZE: 12px; HEIGHT: 18px; TEXT-DECORATION: none; WIDTH: 100px
}
A:hover {
	COLOR: #00cc33; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A:active {
	COLOR: #660033; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
