BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
background-color: #FFFFFF; 
}
	
	a:visited {  color: #333333; text-decoration: none }
	a:hover {  color: #666666; text-decoration: none }
	a:active {  color: #666666; text-decoration: none }
	a:link { color: #333333; text-decoration: none }
	td {  font-size: 9pt; color: #333333}
	
